#homeCarousel.carousel {
  .carousel-inner {
    .item {
        padding: 4em 0;
        .slider-title {
          > h1 {
            font-size: 45px;
            font-family: $font-family-roboto-condensed;
            font-weight: 100;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            padding: 20px;
          }
        }
        .slider-caption > h2 {
          font-size: 50px;
          line-height: 58px;
          font-weight: 100;
          color: white;
          margin-bottom: 0;
          text-shadow: 1px 1px 7px #333; //old browsers non-RGBA
          text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
        }
    }
  }

}
//Convert Carousel Slide to Fade
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

body.mobile {
  #homeCarousel.carousel {
    .carousel-inner {
      .item {
        .slider-title {
          > h1 {
            font-size: 35px;}
        }
        .slider-caption h2 {
          margin-top: 1em;
          font-size: 37px;
          line-height: 36px;
        }
      }
    }
  }

}
