.page-header {
    margin-top: 0;
    h1 {

    }
}

body.mobile {
    header.banner {
        .logo-holder {
            .logo {
                img {
                    margin: auto;
                }
            }
        }
        ul.social-icons {
            padding: 0;
        }
    }
}